html,
body {
  height: 100%;
  margin: 0;
  font-family: "roboto", sans-serif;
}

.btn {
  background-color: #DA9F5B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.btn-brown {
  background-color: #33211D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.nav-link.active {
  color: #ffffff !important;

  font-size: larger;
  text-decoration: wavy;
}

.nav-link {
  color: antiquewhite;
  font-size: larger;
}

.custom-navbar {
  background-color: (rgba(0, 0, 0, 0.5));
  min-height: 80px;
  padding: 0.5rem 1rem;
}

.custom-logo {
  width: 50px;
  height: 50px;
}

.nav-link:hover {
  color: white !important;
  text-shadow: 1px 1px 1px white;
}

.containers {
  height: 100%;
}

.bg {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color;
  height: 100vh;
}

.image1 {
  background-image: url("pexels-monstera-7114087 first.jpg");
}

.image2 {
  background-image: url("pexels-nao-triponez-new.jpg");
}

.image3 {
  background-image: url("pexels-nao-triponez-129207.jpg");
}

.image4 {
  background-image: url("pexels-monstera-7114087 last.jpg");
}

.image5 {
  background-image: url("pexels-farmers.jpg");
}

.image7 {
  background-image: url("images/coffeeimages/blackboard.jpg");
}

.image8 {
  background-image: url("pexels-nikolay-osmachko-230477.jpg");
}

.text {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.contact-background {
  background-image: url("pexels-monstera-7114087.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.transparent-white input,
.transparent-white textarea,
.transparent-white select {
  background-color: rgba(255, 255, 255, 0.5);
}

.form-entry {
  color: rgb(116, 64, 0);
  text-shadow: 1px 1px 2px antiquewhite;
}

h2 {
  color: rgb(116, 64, 0);
  text-shadow: 1px 1px 1px antiquewhite;
}

@media (max-width: 767px) {
  .bg {
    background-attachment: fixed;
  }

}

.content {
  padding: 40px;
  min-height: calc(100vh - 170px);
}

footer {
  background-color: #311c10;
  color: antiquewhite;
  padding: 36px 0;

}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: smaller;
}

.footer-title {
  font-size: 12px;
  margin-bottom: 15px;
  text-decoration: double;
}

.footer-text {
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.social-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  text-align: center;
  line-height: 30px;
  color: #4b3827;
  border-radius: 50%;
}

img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  line-height: 30px;
  border-radius: 50%;
}

.social-icon:hover {
  padding: -5px;
  background-color: #9d7d5a;
}

.footer-copyright {
  font-size: 14px;
  text-align: center;
}

iframe {
  opacity: 0.6;
}

iframe:hover {
  opacity: 1;
}

.grounded-text {
  top: 0%;
  font-size: 6rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: -2rem;
}

.grounded-text-dark {
  top: 0%;
  font-size: 6rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: -2rem;

}

.we-are {
  font-size: 4rem;
  font-family: 'Times New Roman';
  margin-bottom: -3rem;

}

.we-are-dark {
  font-size: 4rem;
  font-family: 'Times New Roman';
  margin-bottom: -3rem;

}

/*.Hero {
  position: absolute;
  /*top: 50%;
  width: 30%;
  color: white;
  }*/

.Hero {
  color: antiquewhite;
}

.hero-dark {
  color: #33211D;
}

.italic {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
}

.italic-dark {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: #33211D
}

.times,
.phonetic {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
}

.times-dark,
.phonetic-dark {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
}

.menu-text {
  color: #ffffff;
}

.menu-title-coffee {
  color: #ffffff;
  font-size: 2rem;
}

.menu-text-coffee {
  color: #ffffff;
  margin-bottom: -70px
}

.menu-price {
  position: relative;
  margin: 10px;
  bottom: 30px;
  left: 5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  color: #33211D;
  background: #DA9F5B;
}

.menu-img {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 0 5px;
  border-radius: 50%;
}

.about-header {
  font-size: 26px;
}


@media (max-width: 768px) {
  .Hero {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    transform: translateY(-50%);
    font-size: x-large;
  }

  .grounded-text {
    font-size: 5rem;
  }

  .containers {
    height: 100%;
  }

  .image1m {
    background-image: url("pexels-monstera-7114087 firstmob.jpg");
  }

  .bg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }


  /*.text {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }*/
}