html,
body {
  height: 100%;
  margin: 0;
  font-family: "roboto", sans-serif;
}
  .containers {
    height: 100%;
  }
 .bg {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
    
 }

 /* Adding image to each div */
 .image1 {
    background-image:url("pexels-nao-triponez-129207-home1.jpg");
  }
  .image2 {
    background-image: url("pexels-nao-triponez-129207.jpg");
  }
  .image3 {
    background-image: url("pexels-nao-triponez-new.jpg");
  }
  .image4 {
    background-image:url("pexels-nao-triponez-129207-home.jpg");
  }
  
  
  .text {
     font-size: 30px;
     width: 100%;
     text-align: center;
  }
  
  .contact-background {
    background-image: url("pexels-monstera-7114087.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.transparent-white input,
.transparent-white textarea,
.transparent-white select {
    background-color: rgba(255, 255, 255, 0.5);
}

.form-group {
  color: rgb(116, 64, 0);
  text-shadow: 1px 1px 2px antiquewhite;
}

h2 {
  color: rgb(116, 64, 0);
  text-shadow: 1px 1px 1px antiquewhite;
}

@media (max-width: 767px) {
  .bg {
    background-attachment: fixed;
  }
}


.content {
  padding: 40px;
  min-height: calc(100vh - 170px);
}

/* Footer Styles */
footer {
  background-color: #4b3827;
  color: #ffffff;
  padding: 40px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-title {
  font-size: 28px;
  margin-bottom: 15px;
}

.footer-text {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-socials {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.social-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  text-align: center;
  line-height: 30px;
  color: #4b3827;
  border-radius: 50%;

}
img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  line-height: 30px;
  border-radius: 50%;
}

.social-icon:hover {
  padding: -5px;
  background-color: #9d7d5a;
}

.footer-copyright {
  font-size: 14px;
  text-align: center;
}

iframe{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

iframe:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.Hero {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 48px;
  color: white;
}