html,
body {
  height: 100%;
  margin: 0;
  font-family: "roboto", sans-serif;
}

.nav-link.active {
  color:#a0866a !important;
  text-shadow: 1px 1px 1px antiquewhite;
}

.containers {
  height: 100%;
}

.bg {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color;
  height: 100vh;
}

.image1 {
  background-image: url("pexels-nao-triponez-129207-home1.jpg");
}

.image2 {
  background-image: url("pexels-nao-triponez-129207.jpg");
}

.image3 {
  background-image: url("pexels-nao-triponez-new.jpg");
}

.image4 {
  background-image: url("pexels-nao-triponez-129207-home.jpg");
}
.image5 {
  background-image: url("pexels-farmers.jpg");
}
.image7 {
  background-image: url("images/coffeeimages/blackboard.jpg");
}

.text {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.contact-background {
  background-image: url("pexels-monstera-7114087.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.transparent-white input,
.transparent-white textarea,
.transparent-white select {
  background-color: rgba(255, 255, 255, 0.5);
}

.form-entry {
  color: rgb(116, 64, 0);
  text-shadow: 1px 1px 2px antiquewhite;
}

h2 {
  color: rgb(116, 64, 0);
  text-shadow: 1px 1px 1px antiquewhite;
}

@media (max-width: 767px) {
  .bg {
    background-attachment: fixed;
  }
}

.content {
  padding: 40px;
  min-height: calc(100vh - 170px);
}

footer {
  background-color: #311c10;
  color: antiquewhite;
  padding: 36px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-title {
  font-size: 28px;
  margin-bottom: 15px;
  }
  
  .footer-text {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  }
  
  .footer-socials {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  }
  
  .social-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  text-align: center;
  line-height: 30px;
  color: #4b3827;
  border-radius: 50%;
  }
  
  img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  line-height: 30px;
  border-radius: 50%;
  }
  
  .social-icon:hover {
  padding: -5px;
  background-color: #9d7d5a;
  }
  
  .footer-copyright {
  font-size: 14px;
  text-align: center;
  }
  
  iframe {
  opacity: 0.6;
  }
  
  iframe:hover {
  opacity: 1;
  }
  
  .grounded-text {
  font-size: 9rem; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .we-are {
    margin-bottom: -70px;
  font-size: 5rem; 
  font-family: 'Times New Roman';
  }
  
  /*.Hero {
  position: absolute;
  /*top: 50%;
  width: 30%;
  color: white;
  }*/

  .Hero {
    max-width: 30%;
    color: #ffffff;
}

  .italic {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  }
  
  .times, .phonetic {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  }
  
  
  
  @media (max-width: 768px)  { 
  .Hero {
  position: absolute;
  top: 50%;
  left: 5%;  
  width: 90%; 
  transform: translateY(-50%);
  font-size: x-large; 
  color: white;
  }
  
  .grounded-text {
  font-size:  5rem; 
  }
  .containers {
    height: 100%;
  }
  
  .bg {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  /* Adding image to each div */
  .image1 {
    background-image: url("pexels-nao-triponez-129207-home1.jpg");
  }
  
  .image2 {
    background-image: url("pexels-nao-triponez-129207.jpg");
  }
  
  .image3 {
    background-image: url("pexels-nao-triponez-new.jpg");
  }
  
  .image4 {
    background-image: url("pexels-nao-triponez-129207-home.jpg");
  }
  .image5 {
    background-image: url("pexels-farmers.jpg");
  }
  
  .row {
    margin-top:50px;
    min-height:50px;
    justify-content:space-between;
   }
   .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
  /*.text {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }*/
}
  